<nav class="navbar">
        <h1>
            <a class= "navTitle" href="{{ site.baseurl }}">
                {{ site.title }}
            </a>
        </h1>
        
        <div class="navQuote">
            {{ site.quote }}
        </div>

        <ul class="navItem">
            <li>
                <a href="{{ "/" | relative_url }}">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ "/about/" | relative_url }}">
                    About
                </a>
            </li>
            {%- for categoryName in site.categories -%}
                <li>
                    <a href="{{ categoryName | first | relative_url }}">
                        {{ categoryName | first }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
</nav>