<nav class="navbar">
        <h1>
            <a class= "navTitle" href="{{ site.baseurl }}">
                {{ site.title }}
            </a>
        </h1>

        <div class="navQuote">
            {{ site.quote }}
        </div>
     
        <ul class="navItem">
            {% assign pageUrl = page.url | split: "/" %}
            {% assign pageUrl = "/" | append: pageUrl[1] %}
            <li>
                {% assign home = "/" | relative_url %}
                <a class="{% if pageUrl == home %} bolded {% endif %}" href="{{ home }}">
                    Home
                </a>
            </li>
            <li>
                {% assign about = "/about" | relative_url %}
                <a class="{% if pageUrl == about %} bolded {% endif %}" href="{{ about }}">
                    About
                </a>
            </li>

            {% for categoryName in site.categories %}
            {% assign categoryLink = categoryName | first | relative_url %}
                <li>
                    <a class="{% if pageUrl == categoryLink %} bolded {% endif %}" href="{{ categoryLink }}">
                        {{ categoryName | first }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="navQuote">
            {{ site.copyright }}
        </div>
</nav>