.navbar {
    width: 18rem;
    height: 100vh;
    padding: 12rem 1rem;
    position:fixed;
    text-align: left;
    color: white;
    background-color: #202020;
}

.navTitle {
    @include relative-font-size(3);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 3rem;
}

.navItem {
    font-style: italic;
}